.wrapper{
  color: gray;
  width: auto;
  max-width: 60vw;
  height: 100%;
  min-height: 60vh;
  background: linear-gradient(0deg, rgba(22, 22, 22, 0.9), rgba(22, 22, 22, 0.3)), url('/gogh.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
}
.aboutwrap{
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.textarea{
  font-size: 0.85vw;
  left:50%;
  width: 100%;
  height: auto;
  padding: 5%;
  background: linear-gradient(-45deg, rgba(22, 22, 22, 1), rgba(22, 22, 22, 0.3));
  position: relative;
  color: gray;
  border-radius: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media (orientation: portrait) {
  .textarea{
    height: 80%;
    width: 80%;
    left:0;
    font-size: 0.75vw;
    padding: 10vw 3%;
  }
}
@media (max-width: 768px) {
  .wrapper{
    max-width: 1000vw;
    width: 100vw;
    min-height: 50vh;
    background: linear-gradient(0deg, rgba(22, 22, 22, 0.9), rgba(22, 22, 22, 0.3)), url('/me.jpg');
    background-size: cover;
    display:flex;
    flex-flow: column;
    overflow: hidden;
  }
  .textarea{
    height: 80%;
    width: 80%;
    left:0;
    font-size: 1vw;
    padding: 10vw 0;
  }
}

@media (max-width: 420px) {
  .textarea{
    height: 80%;
    width: 80%;
    left:0;
    font-size: 1.25vw;
  }
  .textarea h1{
    padding: 3vh 0;
  }
}

