.container{
  height: auto;
  width: auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  color: #000000;
  font-family: 'Montserrat';
  font-weight: 300;
}
.wrapper{
  position: relative;
  width: 100vw;
  height: auto;
  /*background:linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6));*/
  background-color: wheat;
  background-size: cover;
  float:left;
  min-height: 95vh;
  z-index: -2;
}
.navbar{
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2.5vh;
  padding: .5em;
}
.navbar a:hover{
  font-size: 3vh;
}
.ta{
  height: 10vh;
  width: auto;
  z-index: 5;
}
.horizontalLine{
  width: 90vw;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 9vh;
}

.navbarright{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80vh;
  color: #000000;
  font-size: 2.5vh;
   -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);  
    -ms-transform: rotate(-90deg);  
    -o-transform: rotate(-90deg);   
    transform: rotate(-90deg);
  left: -17vw;
  top: 45vh;
  z-index: 20;
}
.navbarright a:hover{
  font-size: 3vh;
}
.verticalLine{
  width: 90vh;
  height: 3px;
  background-color: white;
  position: absolute;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);  
  -ms-transform: rotate(-90deg);  
  -o-transform: rotate(-90deg);   
  transform: rotate(-90deg);
  left: -35vh;
  top: 40vh;
}


.first{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2vw;
  right: 10vw;
  bottom: 15vh;
  position: absolute;
}
.tealbox{
  z-index: -1;
  position: absolute;
  background-color: teal;
  right: -10vw; 
  width: 100vw;
  height: 8vh;
}
.firstleft{
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;
}
.ivar{
  font-family: 'Anonymous Pro';
  align-self: center;
  font-size: 8vh;
}
.slideleft{
  font-family: 'Allison';
  font-size: 20vh;
}
.me{
  max-height: 15vw;
  width: auto;
  filter: drop-shadow(.05rem .05rem 0.5rem #000000);
  filter: grayscale(50%);
}
.firstright{
  z-index: -3;
  position: absolute;
  right: 20vw;
  bottom: 20vh;
}



.secondnav{
  width: 100%;
  position: absolute;
  left: auto;
  right: auto;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.secondnav button{
  font-family: 'Montserrat';
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding:1.5rem;
  height: 100%;
  border: none;
  border-radius: .3rem;
  background-color: transparent;
  color: black;
  width: 100%;
}
.secondnav button:hover{
  font-size: 1.7rem;
}
.secondnav button:focus{
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: .3rem;
  color: #75448C;
}
.wrapper2{
  width: 100vw;
  height: 100vh;
}


@media (max-width:768px){
  .wrapper{
    background-position: 25% 75%;
  }
  .navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navbarleft span{
    font-size: 2.5vw;
    color: #75448C;
  }
  .navbar a{
    padding: 0.3vh;
  }
  .navbar a:hover{
    font-size: 3.5vw;
  }
  .navbarright{
    flex-direction: column;
    align-items: center;
    font-size: 3vw;
    width: 80%;
    border: 0.3px solid gray;
  }
  .first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw;
  }
  .ivar{
    font-size: 6.5vw;
  }
  .info{
    font-size: 3vw;
  }
  .me{
    display: none;
  }
}